*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    .container{
        .accordion{
            .content{
                display: none;
            }

            .btn{
                .title{
                    display: flex;
                    justify-content: space-between;
                    i{
                        font-size: 29px;
                        transform: rotate(0deg);
                        transition: 1s;
                        float: right;
                    }
                }
            }
            .btn.active{
                .title{
                    i{
                    
                        transform: rotate(180deg);
                        transition: 1s;
                    }
                }
            }
        }
    }
}